<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BE Test | Login</title>
    <%- include('../../general/library') %>
    <link rel="stylesheet" href="<%- process.env.WEBVIEW_BASE_URL %>/static/publict/css/style.css">
    <style>
        body{
            display: unset;
        }
    </style>
</head>
<body>
    <%- include('../../general/navbar') %>
    
    <div class="container-fluid">
        <div class="card">
            <h3 class="pt-1" style="padding-left:1rem;">User Info</h3>
            <div class="container-fluid">
                <div class="card">
                    <div class="btn btn-primary mt-2" style="width:min-content; margin-left: 1rem;" id="add_form" >+</div>
                    <div class="container-fluid" style="padding: 1rem;">
                        <table class="table" id="main_table">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Account Number</th>
                                    <th>Email</th>
                                    <th>Registration Number</th>
                                    <th style="width: 20%">Control</th>
                                </tr>
                            </thead>
                            <tbody id="t_body">
                                
                                <% i=1; user_info.forEach((user)=>{
                                    %>
                                    <tr>
                                                <td><%- i++ %></td>
                                                <td><%- user.userId %></td>
                                                <td><%- user.fullName %></td>
                                                <td><%- user.accountNumber %></td>
                                                <td><%- user.emailAddress %></td>
                                                <td><%- user.registrationNumber %></td>
                                                <td>
                                                    <div class="btn btn-sm btn-default btn-detail" data-full="<%- user.userId+'||'+user.fullName+'||'+user.accountNumber+'||'+user.emailAddress+'||'+user.registrationNumber%>">Detail</div>
                                                    <div class="btn btn-sm btn-success btn-edit" data-full="<%- user._id+'||'+user.userId+'||'+user.fullName+'||'+user.accountNumber+'||'+user.emailAddress+'||'+user.registrationNumber%>">Edit</div>
                                                    <div class="btn btn-sm btn-danger" onclick="deleteData('<%- user._id %>')">Hapus</div>
                                                </td>
                                            </tr>
                                    <%
                                }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

            <!-- modal -->
            <div class="modal fade" id="modalform" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="display: unset; padding: .5rem .71rem;">
                        <h5 class="modal-title" id="modalTitle"></h5>
                    </div>
                    <div class="modal-body" style="padding: .21rem 0.81rem;">
                        <form id="man_form">
                            <input type="hidden" id="id">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="UserId">User ID</label>
                                    <input type="text" id="userId" class="form-control" placeholder="Fill User Id">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="fullName">Nama</label>
                                    <input maxlength="55" id="fullName" type="text" class="form-control" id="fullName" placeholder="Fill Full Name">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="accountNumber">Account Number</label>
                                    <input maxlength="100" id="accountNumber" type="text" class="form-control" id="accountNumber" placeholder="Fill Account Number">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="emailAddress">Email Address</label>
                                    <input maxlength="255" id="emailAddress" type="text" class="form-control" id="emailAddress" placeholder="Fill Email Address">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="registrationNumber">Registration Number</label>
                                    <input maxlength="100" id="registrationNumber" type="text" class="form-control" id="registrationtNumber" placeholder="Fill Registration Number">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="padding: .51rem 1rem;">
                        <button type="button" class="btn btn-primary" id="simpan_btn">Simpan</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- end modal  -->  
</body>
<script>
    $(document).ready(function(){
        initOnSubmit();
        initEvent();
        init();
        // $('#main_table').datatable();
        hideLoader();
        // initInputMask();
    });

    async function deleteData(prmkey){
        const { isConfirmed } = await Swal.fire({
            title: `Lanjutkan hapus data ?`,
            icon: 'warning',
            showCancelButton: true,
            reverseButtons: true
        });
        if (!isConfirmed) return;
        g_edit = 'd';
        $('#id').val(prmkey);
        $('#man_form').trigger('submit');
        
    }
    

    function init(){
        
        // $('#KomoditasKode').select2();
        
    }


    var g_edit = 'n';
    function initEvent(){
        $('#add_form').click(function(){
            // loadPkKey();
            g_edit = 'n';

            $('#userId').removeAttr('readonly');
            $('#fullName').removeAttr('readonly');
            $('#accountNumber').removeAttr('readonly');
            $('#emailAddress').removeAttr('readonly');
            $('#registrationNumber').removeAttr('readonly');
            $('#modalTitle').html('Add User Info');
            $('#modalform').modal('show');
            $('#simpan_btn').toggle(true);
        });
        $('.btn-edit').click(function(){
            // loadPkKey();
            var datas = $(this).data('full').split('||'); 
            // alert(datas[0]);
            g_edit = 'y';
            $('#id').val(datas[0]);
            $('#userId').val(datas[1]).removeAttr('readonly');
            $('#fullName').val(datas[2]).removeAttr('readonly');
            $('#accountNumber').val(datas[3]).removeAttr('readonly');
            $('#emailAddress').val(datas[4]).removeAttr('readonly');
            $('#registrationNumber').val(datas[5]).removeAttr('readonly');
            $('#modalTitle').html('Edit User Info');
            $('#modalform').modal('show');
            $('#simpan_btn').toggle(true);
        });
        $('.btn-detail').click(function(){
            // loadPkKey();
            var datas = $(this).data('full').split('||'); 
            $('#userId').val(datas[2]).attr('readonly', 'readonly');
            $('#fullName').val(datas[2]).attr('readonly', 'readonly');
            $('#accountNumber').val(datas[2]).attr('readonly', 'readonly');
            $('#emailAddress').val(datas[2]).attr('readonly', 'readonly');
            $('#registrationNumber').val(datas[2]).attr('readonly', 'readonly');
            $('#modalTitle').html('Detail User Info');
            $('#modalform').modal('show');
            $('#simpan_btn').toggle(false);
        });
        $('#simpan_btn').click(function(){
            $('#man_form').trigger('submit');
        });



    }


    async function initOnSubmit() {      
        $('#man_form').submit(async function (ev) {
            ev.preventDefault();
        // $('#simpan_btn').click(function(){
            const is_editing = g_edit === "y";
            
            
            if($('#userId').val() == '' && g_edit != 'd'){
                Toast.fire({
                    icon: 'error',
                    title: `Error Input!`,
                    text: "User Id tidak boleh kosong"
                });
                return;
            }
            if($('#fullName').val() < 1 && g_edit != 'd'){
                Toast.fire({
                    icon: 'error',
                    title: `Error Input!`,
                    text: "Full Name tidak boleh kosong"
                });
                return;
            }
            
            // console.log(submitData);
            try {
                $('#cstloader').toggle(true);
                var form = new FormData();
                    form.append("prmmode", is_editing ? "EDIT" : g_edit == 'd' ? "DEL" : "ADD");
                    form.append("prmid", $('#id').val());
                    form.append("prmuserId", $('#userId').val());
                    form.append("prmfullName", $('#fullName').val());
                    form.append("prmaccountNumber", $('#accountNumber').val());
                    form.append("prmemailAddress", $('#emailAddress').val());
                    form.append("prmregistrationNumber", $('#registrationNumber').val());

                    var settings = {
                        "url": BASE_URL + "/userinfo/submit",
                        "method": "POST",
                        "timeout": 0,
                        "processData": false,
                        "mimeType": "multipart/form-data",
                        "contentType": false,
                        "data": form
                    };
                    try {
                        $.ajax(settings).done(async function (response) {
                            var obj = JSON.parse(response);
                            if (obj.code == 200) {
                                Toast.fire({
                                    icon: "success",
                                    title: "Success!",
                                    html: obj.message || ''
                                });
                            } else {
                                Toast.fire({
                                    title: '<strong><u>Failed!</u></strong>',
                                    icon: 'error',
                                    html: obj.message || ''
                                }).then((result) => {

                                });
                            }
                            hideLoader();
                            console.log('res ' + response);
                            setTimeout(function(){
                                location.reload();
                                
                            }, 1000);
                        });
                    } catch (err) {
                        console.log(err);
                    }

            } catch (error) {
                console.log(error);
                var e_msg = (error.message || '');
                Swal.fire({
                    icon: 'error',
                    title: 'Failed to insert Data',
                    text: e_msg
                })
            }
        });
            
    }
</script>
</html>